body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 400px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #878787;
  border-radius: 5px;
  background: #fefaed;
}

.overview {
  margin-bottom: 10px;
}

.weather-temperature img {
  margin-right: 0px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #242424;
  font-size: 74px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 26px;
  top: -32px;
}

.weather-temperature .active {
  color: #242424;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature .other {
  text-decoration: none;
}
a {
  text-decoration: none;
}

.weather-temperature .other:hover {
  text-decoration: none;
}

.float-left {
  margin-bottom: 15px;
}
